body{
    background-color: rgb(248, 198, 207);
    display: flex;
    justify-content: center;
    align-items: center;
}

.img{
    height:246px;
    width:246px;
    background-size: cover;
    border-radius: 5px;
}
.page4{
    margin-top:20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.word{
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: "Lakki Reddy", serif;
    font-size: larger;
    animation: bounce 5s ease-in 0s 3 none;
}
.word1{
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: arial
}
a{
    text-decoration: none;
    height: 30px;
    width: 50px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.15);
    cursor: pointer;
    font-family: "roboto",serif;
    margin-left: 15px;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    padding-top: 10px;   
}
#noButton{
    height: 40px;
    width: 65px;
    background-color: white;
    border: none;
    border-radius: 8px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.15);
    cursor: pointer;
    font-family: "roboto",serif;
    margin-left: 15px;
    padding-left: 20px;
    padding-top: 6px;
    padding-right: 20px;
    font-size: medium;
    color: rgb(67, 14, 117);
}
#noButton:hover{
    opacity: 0.1;
}
.button-grid{
    display: flex;
    flex-direction: row;
}
@keyframes bounce{
    0%,20%,50%,80%,100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}
/* .word{
    animation-name: bounce;
    animation-duration: 5s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-iteration-count: 3;
    animation-direction: normal;
} */